* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.log {
    flex-direction: row;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}



ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px
}

a {
    text-decoration: none;

}